.main {
    width: 80%;
    margin: auto;
    height: auto;
    min-height: 590px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    position: relative;
}

.group{
    width:100%;
}

.content-box {
    margin-top: 20px;
}

.key {
    font-weight: bold;
}

.example-card {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    position: relative;
    text-align: left;
    overflow: hidden;
    width:100%;
    margin-top: 68px;
}

.onecell {
    margin: 0px
}

.edit-button {
    position: absolute;
    right: 10px;
    top:10px;
    background-color: white;
    border: none;
    opacity: 0.5;
}

.edit-button:hover {
    opacity: 1;
    cursor: pointer;
}

.see-more{
    color:#1976d2;
    cursor: pointer;
}