<div class="file-box" *ngIf="data_type != 'Experiment' && data_type != 'CPA'">
    <label class="label-reload" (click)="reloadConfigFile()">Reload Template</label>
    <label *ngIf="data_type == 'Process'">File name / Process ID:</label>
    <label *ngIf="data_type == 'PreData' || data_type == 'PostData'">File name / Sample ID:</label>
    <input type="search" [(ngModel)]="currentFileName" placeholder="Ex. test_1 2023" (blur)="checkFileName()">
    <mat-error *ngIf="error['fileName'] == 'type1'">'/', '\' shall not be used.</mat-error>
    <mat-error *ngIf="error['fileName'] == 'type2'">{{ data_type }} ID is required.</mat-error>
    <mat-error *ngIf="error['fileName'] == 'type3'">{{ data_type }} ID is used.</mat-error>

    <ul>
        <li *ngFor="let key of getObjectKeys(newFileData)">
            <div class="red-line" *ngIf="deletedItems.indexOf(key) != -1"></div>
            <label>· {{ key }}</label>
            <textarea matInput type="search" rows="1" *ngIf="key == ''" [(ngModel)]="currrentKey"
                (blur)="updateKey()"></textarea>
            <label>:</label>
            <textarea matInput type="search" rows="1" *ngIf="isString(newFileData[key])"
                [(ngModel)]="newFileData[key]"></textarea>
            <u class="add-delete" (click)="deleteItem(key)" *ngIf="deletedItems.indexOf(key) == -1">delete</u>
            <u class="add-return" (click)="undoItem(key)" *ngIf="deletedItems.indexOf(key) != -1">undo</u>
        </li>
        <li>
            <u class="add-new" (click)="addNewItem()">+ add new item</u>
        </li>
    </ul>
</div>

<mat-chip-listbox *ngIf="data_type == 'CPA'" class="type-box" (change)="onSelecteChips($event)" [value]="currentType">
    <mat-chip-option [value]="'DSC'">DSC</mat-chip-option>
    <mat-chip-option [value]="'FTIR'">FTIR</mat-chip-option>
    <mat-chip-option [value]="'Cryomicroscopy'">Kryomikroskopie</mat-chip-option>
    <mat-chip-option [value]="'Osmolality'">Osmolalit&auml;t</mat-chip-option>
    <mat-chip-option [value]="'Viscosity'">Viskosit&auml;t</mat-chip-option>
</mat-chip-listbox>

<div class="file-box" *ngIf="data_type == 'CPA'">
    <div>
        <label class="label-reload" (click)="reloadConfigFile()">Reload Template</label>
        <label>Input or select CPA ID:</label>
        <input #inputType type="search" [(ngModel)]="currentCpaIndex" placeholder="Ex. CPA1" (blur)="checkCpaIndex()"
            [matAutocomplete]="autoType" (click)="search('CPA ID')">
        <mat-autocomplete autoActiveFirstOption #autoType="matAutocomplete">
            <mat-option *ngFor="let id of idList['CPA ID']" [value]="id" class="option">
                {{ id }}
            </mat-option>
        </mat-autocomplete>
    </div>
    <mat-error *ngIf="error['cpaIndex'] == 'type1' || error['fileName'] == 'type1'">'/', '\' shall not be
        used.</mat-error>
    <mat-error *ngIf="error['cpaIndex'] == 'type2'">CPA ID is required.</mat-error>
    <mat-error *ngIf="error['cpaIndex'] == 'type3' && currentCpaIndex != ''">CPA ID is used, the following will be added
        to this old cpa.</mat-error>

    <ul>
        <li>
            <label>· FILE / IDENTITY / {{currentType}} ID</label>
            <label>:</label>
            <textarea type="search" [(ngModel)]="currentFileName" rows="1" placeholder="Ex. test_1 2023"
                (blur)="checkFileName()"></textarea><span *ngIf="currentType === 'DSC'">(.ngb-sd7)</span>
            <u class="add-delete" style="cursor:unset;"></u>
        </li>
        <mat-error *ngIf="error['fileName'] == 'type2'">FILE / IDENTITY / {{currentType}} ID is required.</mat-error>
        <mat-error *ngIf="error['fileName'] == 'type3'">FILE / IDENTITY / {{currentType}} ID is used.</mat-error>
        <li *ngFor="let key of getObjectKeys(newFileData) | excludeItem: ['FILE', 'IDENTITY']">
            <div class="red-line" *ngIf="deletedItems.indexOf(key) != -1"></div>
            <label>· {{ key }}</label>
            <textarea matInput type="search" rows="1" *ngIf="key == ''" [(ngModel)]="currrentKey"
                (blur)="updateKey()"></textarea>
            <label>:</label>
            <ng-container *ngIf="key == 'Curve'" class="textarea-shell">
                <textarea matInput type="search" rows="1" *ngIf="!showTableOrNot" [(ngModel)]="newFileData[key]"
                    (blur)="showTable(true)"></textarea>
                <app-unit-show-in-table *ngIf="showTableOrNot" [textareaContent]='newFileData[key]'
                    (dblclick)="showTable(false)"></app-unit-show-in-table>
            </ng-container>
            <textarea matInput type="search" rows="1" *ngIf="key != 'Curve'" [(ngModel)]="newFileData[key]"></textarea>
            <u class="add-delete" (click)="deleteItem(key)" *ngIf="deletedItems.indexOf(key) == -1">delete</u>
            <u class="add-return" (click)="undoItem(key)" *ngIf="deletedItems.indexOf(key) != -1">undo</u>
        </li>
        <li>
            <u class="add-new" (click)="addNewItem()">+ add new item</u>
        </li>
    </ul>
</div>

<div class="file-box" *ngIf="data_type == 'Experiment'">
    <label class="label-reload" (click)="reloadConfigFile()">Reload Template</label>
    <label>File name / Experiment ID:</label>
    <input type="search" [(ngModel)]="currentFileName" placeholder="Ex. test_1 2023" (blur)="checkFileName()">
    <mat-error *ngIf="error['cpaIndex'] == 'type1' || error['fileName'] == 'type1'">
        '/', '\' shall not beused.</mat-error>
    <mat-error *ngIf="error['fileName'] == 'type2'">Experiment ID is required.</mat-error>
    <mat-error *ngIf="error['fileName'] == 'type3' && currentFileName != ''">Experiment ID is used, the following will
        be added to this old experiment.</mat-error>
    <ul>
        <li class="table-versuch">
            <div class="table-probes">
                <label class="table-line-head"></label>
                <div class="table-head">
                    <div class="table-cell" *ngFor="let index of getObjectKeys(newFileData['Versuche 1']['Probe 1'])">
                        {{ index.replace('Sample ID', 'Factor ID') }}</div>
                </div>
                <u class="add-delete" style="cursor:unset;"></u>
            </div>
        </li>
    </ul>
    <ul>
        <li *ngFor="let key of (getObjectKeys(newFileData) | excludeItem: ['Remark'])" class="table-versuch">
            <div class="table-li">
                <div class="red-line" *ngIf="deletedItems.indexOf(key) != -1"></div>
                <label>{{ key }} ID</label>
                <label>:</label>
                <input type="search" [(ngModel)]="newFileData[key]['Versuche ID']" placeholder="Ex. test_1 2023" style="height:24px;" (blur)="startInput()">
                <p class="position-holder">
                    <mat-error *ngIf="checkTheVersuch(newFileData[key]['Versuche ID']) == 'type2'">Verscuh ID is required.</mat-error>
                    <mat-error *ngIf="checkTheVersuch(newFileData[key]['Versuche ID']) == 'type3'">Versuch ID is used.</mat-error>
                </p>
                <u class="add-delete" (click)="deleteItem(key)" *ngIf="deletedItems.indexOf(key) == -1">delete</u>
                <u class="add-return" (click)="undoItem(key)" *ngIf="deletedItems.indexOf(key) != -1">undo</u>
            </div>
            <div class="table-li">
                <div class="red-line" *ngIf="deletedItems.indexOf(key) != -1"></div>
                <label>factor F</label>
                <label>:</label>
                <input type="search" [(ngModel)]="newFileData[key]['F_factor']" placeholder="1" style="height:24px;">
                <p class="position-holder">
                    <mat-error *ngIf="!newFileData[key]['F_factor']">Factor F is required.</mat-error>
                    <mat-error *ngIf="isNumber(newFileData[key]['F_factor'])">Factor F shall be number.</mat-error>
                </p>
                <u class="add-delete" *ngIf="deletedItems.indexOf(key) == -1" style="color: #e2e2e2;">delete</u>
                <u class="add-return" *ngIf="deletedItems.indexOf(key) != -1" style="color: #e2e2e2;">undo</u>
            </div>
            <div class="table-probes"
                *ngFor="let probe of (getObjectKeys(newFileData[key]) | excludeItem: ['Remark', 'Versuche ID', 'F_factor'])">
                <div class="red-line" *ngIf="deletedItemItems.indexOf(transformer(key,probe)) != -1"></div>
                <div class="red-line-big" *ngIf="deletedItems.indexOf(key) != -1"></div>
                <label class="table-line-head">{{ makeIndex(probe) }} |</label>
                <div class="probe-li">
                    <div class="table-cell-input"
                        *ngFor="let cell of getObjectKeys(newFileData[key][probe]) | excludeItem:['PreData ID', 'PostData ID']">
                        <input #input type="search" [(ngModel)]="newFileData[key][probe][cell]" class="exp-input"
                            [matAutocomplete]="auto" (click)="search(cell)">
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                            <mat-option *ngFor="let id of idList[cell]" [value]="id" class="option">
                                {{ id }}
                            </mat-option>
                        </mat-autocomplete>
                    </div>
                    <div class="table-cell-input"
                        *ngFor="let cell of getObjectKeys(newFileData[key][probe]) | excludeItem: ['CPA ID', 'Process ID', 'Sample ID']">
                        <mat-select [(ngModel)]="newFileData[key][probe][cell]" multiple (click)="search(cell)" class="select-menu">
                            <mat-option *ngFor="let id of idList[cell]"
                                style="padding: 0px;" [value]="id">{{id}}</mat-option>
                        </mat-select>
                    </div>
                </div>
                <u class="add-delete" (click)="deleteItemItems(key, probe)"
                    *ngIf="deletedItemItems.indexOf(transformer(key,probe)) == -1 && deletedItems.indexOf(key) == -1">delete</u>
                <u class="add-return" (click)="undoItemItems(key, probe)"
                    *ngIf="deletedItemItems.indexOf(transformer(key,probe)) != -1 && deletedItems.indexOf(key) == -1">undo</u>
            </div>
            <div><u *ngIf="deletedItems.indexOf(key) == -1" class="add-new" (click)="addNewItemItems(key)">+ add new Probe</u></div>
        </li>
        <li>
            <u class="add-new" (click)="addNewItem()">+ add new Versuche</u>
        </li>
    </ul>
</div>
<!-- <p>{{newFileData | json}}</p> -->
<button class="label-create" (click)="newFile()">CREATE</button>
<mat-divider></mat-divider>
<h2>CREATED FILES:
    <button mat-button color="primary" (click)="feedToDB()"><u>feed all in database</u></button>
    <button mat-button color="warn" class="delete-all" (click)="deleteAll()">
        <u>delete all</u></button>
</h2>


<ul *ngIf="createdFiles.length == 0">
    --none--
</ul>
<div *ngIf="createdFiles.length > 0" class="tab-box">
    <mat-selection-list (selectionChange)="onSelected($event)">
        <mat-list-option *ngFor="let file of createdFiles" [value]="file.file_name" [selected]="selectedOrNot(file)">
            <div>{{ file.file_name }} <u (click)="editCreatedFiles(file.file_name)" class="edit">edit</u></div>
            <div class="option-box">
                <div [ngClass]="file.result.replace(' ', '-') + 'file'">upload: {{ file.result }}</div>
                <div [ngClass]="selectedFiles[file.file_name] + 'file'">
                    <p *ngIf="selectedFiles[file.file_name] != 'see-error-detail'">save: {{
                        selectedFiles[file.file_name] }}</p>
                    <p *ngIf="selectedFiles[file.file_name] == 'see-error-detail'">save: error <u>see detail</u></p>
                </div>
            </div>
        </mat-list-option>
    </mat-selection-list>
</div>